@CHARSET "UTF-8";
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> d417a0a541f355c92c3e60b7632b9a908edb6e05
body {   font-family: NanumBarunGothic; text-align: center;   }
tr { height: 30px; background: #F5F5F5; color: black; text-align: center;}
/* th {   background: #C9BFED;   } */
th {   background: #F5F5F5; text-align: center; color: black; }
<<<<<<< HEAD
td {   background: white; color: black; padding: 10px; text-align: center;   }
=======
td {   background: white; color: black; padding: 10px; text-align: center;   }
=======
=======
>>>>>>> 5f7916c16ce0fae15cced4b7cd5ef941d7f61a7e
body {	font-family: NanumBarunGothic; text-align: center;	}
tr { height: 30px; background: #F5F5F5; color: black; text-align: center;}
/* th {	background: #C9BFED;	} */
th {	background: #F5F5F5; text-align: center; color: black; }
td {	background: white; color: black; padding: 10px; text-align: center;	}
<<<<<<< HEAD
>>>>>>> 40aa325f1bbe18f2f4b9aed88c5866f562dc0b92
>>>>>>> d417a0a541f355c92c3e60b7632b9a908edb6e05
=======
body {   font-family: NanumBarunGothic; text-align: center;   }
tr { height: 30px; background: #F5F5F5; color: black; text-align: center;}
/* th {   background: #C9BFED;   } */
th {   background: #F5F5F5; text-align: center; color: black; }
td {   background: white; color: black; padding: 10px; text-align: center;   }
>>>>>>> 5f7916c16ce0fae15cced4b7cd5ef941d7f61a7e
